@model PlaceBooking.Models.Room

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layOutAdmin.cshtml";
}


<div class="card card-title bg-white p-1 container">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Thêm Trung Tâm </h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                <li class="breadcrumb-item active">Thêm phòng</li>
            </ol>
        </div>
    </div>
</div>

<section class="container pt-2 card">
    @Html.Partial("_MessgeAlert")
    <div class="container bg-white pt-4 ">

        @using (Html.BeginForm("Create", "Rooms", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class=" row ">
                <div class="col-md-4">  </div>
                <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> THÊM TRUNG TÂM</h3> </div>
                <div class="col-md-4 ">
                    <div class="float-right">
                        <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu</button>
                        <a href="~/admin/Rooms" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                    </div>
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-8">
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Tên trung tâm</span></label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Tỉnh thành</span></label>
                        <select name="departureAddress" class="selectpicker form-control" tabindex="1" required>
                            <option value="TP.Hồ Chí Minh" selected="selected">TP.Hồ Chí Minh</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Vân Đồn">Vân Đồn</option>
                            <option value="Hải Phòng">Hải Phòng</option>
                            <option value="Thanh Hóa">Thanh Hóa</option>
                            <option value="Vinh">Vinh</option>
                            <option value="Đồng Hới">Đồng Hới</option>
                            <option value="Huế">Huế</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Chu Lai">Chu Lai</option>
                            <option value="Quy Nhơn">Quy Nhơn</option>
                            <option value="Tuy Hòa">Tuy Hòa</option>
                            <option value="Nha Trang">Nha Trang</option>
                            <option value="Đà Lạt">Đà Lạt</option>
                            <option value="Pleiku">Pleiku</option>
                            <option value="Ban Mê Thuột">Ban Mê Thuột</option>
                            <option value="Cần Thơ">Cần Thơ (VCA)</option>
                        </select>
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Địa chỉ</span></label>
                        <select name="arrivalAddress" class="selectpicker form-control" tabindex="1" required>
                            <option value="TP.Hồ Chí Minh" selected="selected">TP.Hồ Chí Minh</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Vân Đồn">Vân Đồn</option>
                            <option value="Hải Phòng">Hải Phòng</option>
                            <option value="Thanh Hóa">Thanh Hóa</option>
                            <option value="Vinh">Vinh</option>
                            <option value="Đồng Hới">Đồng Hới</option>
                            <option value="Huế">Huế</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Chu Lai">Chu Lai</option>
                            <option value="Quy Nhơn">Quy Nhơn</option>
                            <option value="Tuy Hòa">Tuy Hòa</option>
                            <option value="Nha Trang">Nha Trang</option>
                            <option value="Đà Lạt">Đà Lạt</option>
                            <option value="Pleiku">Pleiku</option>
                            <option value="Ban Mê Thuột">Ban Mê Thuột</option>
                            <option value="Cần Thơ">Cần Thơ (VCA)</option>
                        </select>
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Số tầng/Phòng</span></label>
                        @Html.EditorFor(model => model.PlaceDetail, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.PlaceDetail, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary ">Nội dung bài viết</span></label>
                        @Html.TextAreaFor(model => model.Description, new
                        {
                            @class = "form-control textarea",
                       @style = "width: 100%;font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                        })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @required = "required" })
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Loại tiệc</span></label>
                        <select name="RoomType" class="selectpicker form-control" tabindex="1" required>
                            <option selected value="tiecCuoi">Tiệc cưới</option>
                            <option value="sinhNhat">Sinh nhật</option>
                            <option value="SuKien">Sự kiện</option>
                            <option value="Khac">Khác</option>
                        </select>
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Ngày cho thuê</span></label>
                        <input name="departureDate" class="form-control" type="date" value="" required />
                    </div>
                    <div>
                        <label for="psw"><span class="text-dark ">Hình ảnh</span></label>
                        <input type="file" class="form-control" name="img" required>
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Số lượng người</span></label>
                        @Html.EditorFor(model => model.GuestTotal, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.GuestTotal, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Tiền thuê</span></label>
                        <input type="number" name="price" class="form-control" value="" required/>
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Trạng thái</span></label>
                        <select name="status" class="selectpicker form-control" tabindex="1" required>
                            <option value="1">Hiện</option>
                            <option value="2">Ẩn</option>
                        </select>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script>
        $("#post").addClass("active");
        $(function () {
            // Summernote
            $('.textarea').summernote()
        })
</script>