@model IEnumerable<PlaceBooking.Models.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<section class="booking">
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="booking-form booking-outer">
                    <div class="payment-info detail">
                        <div class="row">
                            <div style="margin-left:20px;">
                                <h4 class="text-danger p-3"> Thông Tin Đặt phòng </h4>
                            </div>
                            @{ var sum = 0;}
                            @foreach (var item in Model)
                            {
                                <div class="col-md-12">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="title">Tên phòng</td>
                                                <td>@item.Name</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Giá phòng/ tháng</td>
                                                <td class="b-id text-danger">@item.Price.ToString("N0") VND (không tính điện nước/phụ phí)</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Loại phòng</td>
                                                <td class="b-id text-danger">@item.TicketType</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Tỉnh thành</td>
                                                <td>@item.DepartureAddress</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Địa chỉ</td>
                                                <td>@item.ArrivalAddress</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Số người</td>
                                                <td>@item.GuestTotal</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Hình ảnh</td>
                                                <td><img height="100" src="~/Public/images/roomBooking/@item.Img" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                sum += (int)item.Price;
                            }
                            <h3 class="text-danger" style="padding:25px">Tổng tiền: @sum.ToString("N0") VND (tạm tính)</h3>
                        </div>
                    </div>
                    <form action="~/Checkout/checkOut" method="post">
                        <input type="hidden" value="@ViewBag.ve1" name="veOnvay" />
                        <input type="hidden" value="@ViewBag.ve2" name="veReturn" />
                        <input type="hidden" value="@sum" name="total" />
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label>Tên khách hàng:</label>
                                <input name="name" type="text" class="form-control" id="Name" placeholder="Tên của bạn." required>
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Email:</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="abc@xyz.com" required>
                            </div>
                            <div class="form-group col-xs-6 col-left-padding">
                                <label>SDT của bạn:</label>
                                <input name="phone" type="text" class="form-control" id="phnumber" placeholder="0...." required />
                            </div>

                            <div class="form-group col-xs-6">
                                <label>Giới tính:</label>
                                <select required name="gioitinh">

                                    <option value="female" selected>Nam</option>
                                    <option value="other">Nữ</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-6 col-left-padding">
                                <label>Quốc tịch:</label>
                                <select required name="quoctich">
                                    <option value="VN">Việt Nam</option>
                                    <option value="K">Khác</option>

                                </select>
                            </div>
                            <div class="textarea col-xs-12">
                                <label>Lời nhắn:</label>
                                <textarea name="mess" placeholder="Lời nhắn của bạn cho chúng tôi"></textarea>
                            </div>
                            <div class="col-xs-12" style="margin:30px;">
                                <div class="single-widget">
                                    <h2>Hình thức thanh toán</h2>
                                    <div class="content pl-5">
                                        <div class="radio">
                                            <div class=" row">
                                                <div id="COD">
                                                    <div style="max-width:900px;">
                                                        <div style="padding-top:10px;padding-bottom:20px; border-top:0.5px solid #808080;">
                                                            <div style="margin-left:30px;">
                                                                <input type="radio" id="7" name="option_payment" value="COD" checked>
                                                                <label for="7" class="text-success">
                                                                    <span class="pl-2 text-secondary" style="font-size:15px;">Chuyển khoản</span>
                                                                </label>
                                                                <div style="padding:20px;">
                                                                    <span>Ngân Hàng: TP Bank</span><br />
                                                                    <span>Chủ Tk: Nguyễn Văn Tèo</span><br />
                                                                    <span>STK: 04219019501</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-10">

                                </div>

                                <button class="btn-blue btn-red btn-style-1 " type="submit">Tiếp theo</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>
