@model PlaceBooking.Models.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<section class="booking">
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-8">
                <div class="booking-confirmed booking-outer">
                    <div class="confirmation-title">
                        <div class="form-title form-title-1">
                            <h2 class="text-danger">Booking Information</h2>
                        </div>
                        <p class="text-success">Specific information has been sent to your email.</p>
                        <div class="payment-info detail">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="confirmation-details detail">
                                        <h3>Booking detail</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="title">Mã hợp đồng</td>
                                                    <td class="b-id">@Model.Code</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Tên khách hàng</td>
                                                    <td>@Model.Name </td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Email</td>
                                                    <td>@Model.Email</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">SDT</td>
                                                    <td>@Model.Phone</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Số người</td>
                                                    <td>@Model.GuestTotal</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Giới tính</td>
                                                    <td>@Model.Gioitinh</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Quốc tịch</td>
                                                    <td>@Model.Quoctich</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Ghi chú</td>
                                                    <td>@Model.Mess</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Ngày tạo</td>
                                                    <td>@Model.CreateDate (m/d/y)</td>
                                                </tr>
                                                @if (Model.StatusPayment == 1)
                                                {
                                                    <tr>
                                                        <td class="title">Trạng thái thanh toán</td>
                                                        <td class="text-success">Đã thanh toán <i class="fas fa-check"></i></td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="title">Trạng thái thanh toán</td>
                                                        <td>Chưa thanh toán vui lòng thanh toán lại.</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td class="title">Phương thức thanh toán:</td>
                                                    <td>@Model.DeliveryPaymentMethod.</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Tổng tiền hợp đồng:</td>
                                                    <td><h4 class="text-danger"> @Model.Total.ToString("N0") VND</h4></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>