@model PlaceBooking.Models.Room
@{
    ViewBag.Title = "flightDetail";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<script src="~/public/js/jquery.fancybox.min.js"></script>
<link href="~/Public/css/jquery.fancybox.min.css" rel="stylesheet" />

<section class="booking">
    <div class="container bg-white" style="padding:20px;">
        <div class="row">
            <div class="col-md-8">
                <div class="booking-confirmed booking-outer">
                    <div class="confirmation-title">
                        <div class="form-title form-title-1">
                            <h2 class="text-danger">Chi tiết phòng</h2>
                        </div>
                        <div class="payment-info detail">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table" style="margin-top:20px;">
                                <tbody>
                                    <tr class="w-100">
                                        <td class="title">Tên phòng</td>
                                        <td>@Model.Name</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Giá phòng/ tháng</td>
                                        <td class="b-id text-danger">@Model.Price.ToString("N0") VND (không tính điện nước/phụ phí)</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Loại phòng</td>
                                        <td class="b-id text-danger">@Model.RoomType</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Tỉnh thành</td>
                                        <td>@Model.DepartureAddress</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Địa chỉ</td>
                                        <td>@Model.FullAddress</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Số người</td>
                                        <td>@Model.GuestTotal</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-8">
                            <div class="form-title form-title-1">
                                <h2 class="text-danger">Mô tả chi tiết</h2>
                            </div>
                            <div>
                                <p>@Html.Raw(Model.Description)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-title form-title-1">
                    <h2 class="text-danger">Hình ảnh</h2>
                </div>
                <div class="payment-info detail">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
                <div>
                    <a href="~/Public/images/roomBooking/@Model.Img" data-fancybox="group" data-caption="@Model.Name">
                        <img height="250" class="p-2" src="~/Public/images/roomBooking/@Model.Img" />
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container bg-white col" style="padding:20px;">
        <h2>Bình Luận</h2>
        @if (ViewBag.name != "")
        {
            <div class="container mt-5 bg-light p-3">
                <div class="bg-light p-2">
                    <form method="post" action="~/Comment/Create">
                        <div class="form-group d-flex flex-row align-items-start">
                            <input type="hidden" name="TopicId" value="@Model.Id" />
                            <input type="hidden" name="parentId" value="0" />
                            <input type="hidden" name="type" value="2" />
                            <input type="hidden" name="image" value="https://www.translitescaffolding.com/wp-content/uploads/2013/06/user-avatar.png" />
@*                            <img class="rounded-circle" src="https://i.pinimg.com/550x/e5/b5/7e/e5b57e95b4157c98b43090584290c9dc.jpg" width="40">*@
                            <textarea class="form-control ml-1 shadow-none" name="comment1" placeholder="Nhập bình luận của bạn"></textarea>
                        </div>
                        <div class="mt-2 text-right">
                            <button class="btn btn-primary btn-sm shadow-none" type="submit">Gửi bình luận</button>
                        </div>
                    </form>
                </div>
                @Html.Action("Detail", "comment", new { type = 2, TopicId = Model.Id })
            </div>
        }
        else
        {
            <div class="container mt-5 bg-light p-3">
                <div class="bg-light p-2">
                    <p class="text-danger">Vui lòng đăng nhập để viết bình luận</p>
                </div>
                @Html.Action("Detail", "comment", new { type = 2, TopicId = Model.Id })
            </div>
        }
    </div>
</section>
<style>
    .title {
        font-size: 17px;
        font-weight: bold;
        padding-right: 50px;
        color: #ff0000;
    }
</style>