
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_layOutAdmin.cshtml";
    var s = ViewBag.WeeklyRevenue;
}
<!-- Theme style -->
<link rel="stylesheet" href="~/public/dist/css/adminlte.min.css">
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="fas fa-money-check-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Doanh thu tháng này</span>
                        <span class="info-box-number">@ViewBag.MonthlyRevenue.ToString("N0") VND</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="fas fa-file-signature"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Số hợp đồng</span>
                        <span class="info-box-number"> @ViewBag.YearlyCountContract</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-warning "><i class="fas fa-user-alt text-white"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Tài khoản khách hàng</span>
                        <span class="info-box-number">10</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-danger"><i class="fas fa-comments"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Đánh giá/Bình luận</span>
                        <span class="info-box-number">20</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main content -->
    </div>
</section>

<section class="row container">
    <div class=" col-md-6 bg-white card p-2">
        <div class="row justify-content-end">
            <div class="col-md-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9  w-100 ">
            </div>
            <div class="col-md-12">
                <div class="p-1">
                    <h5>Doanh thu</h5>
                </div>
                <table id="myTable1" class="table  table-striped table-bordered dt-responsive nowrap">
                    <tbody>
                        <tr>
                            <td class="title">Doanh thu tuần</td>
                            <td class="b-id font-weight-bold text-danger"> @ViewBag.WeeklyRevenue.ToString("N0") VND</td>
                        </tr>
                        <tr>
                            <td class="title">Doanh thu tháng</td>
                            <td class="b-id font-weight-bold text-danger"> @ViewBag.MonthlyRevenue.ToString("N0") VND</td>
                        </tr>
                        <tr>
                            <td class="title">Doanh thu năm</td>
                            <td class="b-id font-weight-bold text-danger"> @ViewBag.YearlyRevenue.ToString("N0") VND</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class=" col-md-6 bg-white card p-2">
        <div class="row justify-content-end">
            <div class="col-md-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9  w-100 ">
            </div>
            <div class="col-md-12">
                <div class="p-1">
                    <h5>Hợp đồng</h5>
                </div>
                <table id="myTable1" class="table  table-striped table-bordered dt-responsive nowrap">
                    <tbody>
                        <tr>
                            <td class="title">Hợp đồng trong tuần</td>
                            <td class="b-id"> @ViewBag.WeeklyCountContract </td>
                        </tr>
                        <tr>
                            <td class="title">Hợp đồng trong tháng</td>
                            <td class="b-id"> @ViewBag.MonthlyCountContract</td>
                        </tr>
                        <tr>
                            <td class="title">Hợp đồng trong năm</td>
                            <td class="b-id"> @ViewBag.YearlyCountContract</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
