@model PlaceBooking.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layOutAdmin.cshtml";
}

<div class="container bg-white">
    <div class="row">
        <div class="col-md-7">
            <h3>Chi tiết Order</h3>
            <table class="table border">
                <tbody>
                    <tr>
                        <td class="title">Mã hợp đồng</td>
                        <td class="b-id">@Model.Code</td>
                    </tr>
                    <tr>
                        <td class="title">Tên khách hàng</td>
                        <td>@Model.Name </td>
                    </tr>
                    <tr>
                        <td class="title">Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td class="title">SDT</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td class="title">Số người</td>
                        <td>@Model.GuestTotal</td>
                    </tr>
                    <tr>
                        <td class="title">Giới tính</td>
                        <td>@Model.Gioitinh</td>
                    </tr>
                    <tr>
                        <td class="title">Quốc tịch</td>
                        <td>@Model.Quoctich</td>
                    </tr>
                    <tr>
                        <td class="title">Ghi chú</td>
                        <td>@Model.Mess</td>
                    </tr>
                    <tr>
                        <td class="title">Ngày tạo</td>
                        <td>@Model.CreateDate (m/d/y)</td>
                    </tr>
                    @if (Model.StatusPayment == 1)
                    {
                        <tr>
                            <td class="title">Trạng thái thanh toán</td>
                            <td class="text-success">Đã thanh toán <i class="fas fa-check"></i></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="title">Trạng thái thanh toán</td>
                            <td>Chưa thanh toán vui lòng thanh toán lại.</td>
                        </tr>

                    }
                    <tr>
                        <td class="title">Phương thức thanh toán:</td>
                        <td>@Model.DeliveryPaymentMethod.</td>
                    </tr>
                    <tr>
                        <td class="title">Tổng tiền hợp đồng:</td>
                        <td><h4 class="text-danger"> @Model.Total.ToString("N0") VND</h4></td>
                    </tr>
                </tbody>
            </table>

        </div>
     @*   <div class="col-md-5">
            @Html.Action("_BookingConnfig", "Orders", new { orderId = Model.ID })

        </div>*@
    </div>
</div>
<style>
    .title {
        font-size: 17px;
        font-weight: bold;
        padding-right: 50px;
        color: #ff0000;
    }
</style>