@model PlaceBooking.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layOutAdmin.cshtml";
    var service = ViewBag.Service;
    var menu = ViewBag.Menu;
}

<div class="container bg-white">
    <div class="row">
        <div class="col-md-7">
            <div class="p-3">
                <h3>Thông tin khách hàng</h3>
            </div>
            <table class="table border">
                <tbody>
                    <tr>
                        <td class="title">Mã hợp đồng</td>
                        <td class="b-id">@Model.Code</td>
                    </tr>
                    <tr>
                        <td class="title">Tên khách hàng</td>
                        <td>@Model.Name </td>
                    </tr>
                    <tr>
                        <td class="title">Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td class="title">SDT</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td class="title">Số người</td>
                        <td>@Model.GuestTotal</td>
                    </tr>
                    <tr>
                        <td class="title">Giới tính</td>
                        <td>@Model.Gioitinh</td>
                    </tr>
                    <tr>
                        <td class="title">Quốc tịch</td>
                        <td>@Model.Quoctich</td>
                    </tr>
                    <tr>
                        <td class="title">Ghi chú</td>
                        <td>@Model.Mess</td>
                    </tr>
                    <tr>
                        <td class="title">Ngày</td>
                        <td>@Model.DepartureDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <td class="title">Khung giờ</td>
                        <td>@Model.Scope</td>
                    </tr>
                    <tr>
                        <td class="title">Ngày tạo</td>
                        <td>@Model.CreateDate (m/d/y)</td>
                    </tr>
                    @if (Model.StatusPayment == 1)
                    {
                        <tr>
                            <td class="title">Trạng thái thanh toán</td>
                            <td class="text-success">Đã thanh toán <i class="fas fa-check"></i></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="title">Trạng thái thanh toán</td>
                            <td>Chưa thanh toán vui lòng thanh toán lại.</td>
                        </tr>

                    }
                    <tr>
                        <td class="title">Phương thức thanh toán:</td>
                        <td>@Model.DeliveryPaymentMethod.</td>
                    </tr>
                    <tr>
                        <td class="title">Tổng tiền:</td>
                        <td><h4 class="text-danger"> @Model.Total.ToString("N0") VND</h4></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-5">
            @Html.Action("_BookingConnfig", "Orders", new { orderId = Model.Id })
            @if (ViewBag.Service != null)
            {
                <div class="p-2">
                    <h3>Dịch vụ</h3>
                </div>
                <table class="table border" style="margin-top:20px;">
                    @foreach (var item in service)
                    {
                        <tbody>
                            <tr>
                                <td class="title text-danger" style="font-weight:bold">Tên dịch vụ</td>
                                <td>@item.Name</td>
                            </tr>
                            <tr>
                                <td class="title">Giá tiền</td>
                                <td class="b-id text-danger">@item.Price.ToString("N0") VND</td>
                            </tr>
                            <tr>
                                <td class="title"> Chi tiết</td>
                                <td class="b-id text-danger">@Html.Raw(item.Details)</td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
            @if (ViewBag.Menu != null)
            {
                <div class="p-2">
                    <h3>Thực đơn</h3>
                </div>
                <table class="table border" style="margin-top:20px;">
                    @foreach (var item in menu)
                    {
                        <tbody>
                            <tr>
                                <td class="title text-danger" style="font-weight:bold">Tên menu</td>
                                <td>@item.Name</td>
                            </tr>
                            <tr>
                                <td class="title">Giá tiền</td>
                                <td class="b-id text-danger">@item.Price.ToString("N0") VND</td>
                            </tr>
                            <tr>
                                <td class="title"> Chi tiết</td>
                                <td class="b-id text-danger">@Html.Raw(item.Details)</td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
        </div>
    </div>
</div>
<style>
    .title {
        font-size: 17px;
        font-weight: bold;
        padding-right: 50px;
        color: brown;
    }
</style>