@model PlaceBooking.Models.BillOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> listcat = new List<SelectListItem>();
    List<SelectListItem> listorder = new List<SelectListItem>();
    List<SelectListItem> status = new List<SelectListItem>();

    List<SelectListItem> payemntType = new List<SelectListItem>();
    List<SelectListItem> paymentStatus = new List<SelectListItem>();

    SelectListItem payemntTypeitem1 = new SelectListItem() { Value = "1", Text = "Đã thanh toán" };
    SelectListItem payemntTypeitem2 = new SelectListItem() { Value = "2", Text = "Chưa thanh toán" };

    SelectListItem paymentStatusitem1 = new SelectListItem() { Value = "2", Text = "MOMO" };
    SelectListItem paymentStatusitem2 = new SelectListItem() { Value = "3", Text = "Chuyển khoản" };

    payemntType.Add(payemntTypeitem1);
    payemntType.Add(payemntTypeitem2);
    paymentStatus.Add(paymentStatusitem1);
    paymentStatus.Add(paymentStatusitem2);

    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Ẩn" };

    status.Add(statusitem2);

    SelectListItem listorderitem;
    foreach (var item in ViewBag.listtopic)
    {
        listorderitem = new SelectListItem() { Value = item.Code+"", Text = item.Code };
        listorder.Add(listorderitem);
    }
}

<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Thêm hóa đơn </h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                <li class="breadcrumb-item active">Thêm hóa đươn</li>
            </ol>
        </div>
    </div>
</div>

<section class="container pt-2 card">
    @Html.Partial("_MessgeAlert")
    <div class=" bg-white p-4 ">

        @using (Html.BeginForm("Create", "BillOrders"))
        {
            @Html.AntiForgeryToken()
            <div class=" row ">
                <div class="col-md-4">  </div>
                <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> THÊM HÓA ĐƠN</h3> </div>
                <div class="col-md-4 ">
                    <div class="float-right">
                        <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu</button>
                        <a href="~/admin/BillOrders" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                    </div>
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-8">
                    <div>
                        <label for="psw"><span class="text-secondary ">Tên khách hàng</span></label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Hóa đơn tháng</span></label>
                        <input name="BillMonth" class="form-control" type="date" value="" required />
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary ">Trạng thái thanh toán</span></label>
                        @Html.DropDownListFor(model => model.PaymentType, payemntType, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary ">Hình thức thanh toán</span></label>
                        @Html.DropDownListFor(model => model.PaymentStatus, paymentStatus, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.PaymentStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="psw"><span class="text-secondary ">Chọn hợp đồng</span></label>
                        @Html.DropDownListFor(model => model.OrderCode, listorder, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.OrderCode, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary ">Trang Thái</span></label>
                        @Html.DropDownListFor(model => model.Status, status, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script>
    $("#topic").addClass("active");
</script>

